<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :do_not_email %><br>
    <%= f.check_box :do_not_email %>
  </div>
  <div class="field">
    <%= f.label :marketing %><br>
    <%= f.check_box :marketing, :class => 'email' %>
  </div>
  <div class="field">
    <%= f.label :articles %><br>
    <%= f.check_box :articles, :class => 'email' %>
  </div>
  <div class="field">
    <%= f.label :digest %><br>
    <%= f.check_box :digest, :class => 'email' %>
  </div>
  <%= f.hidden_field :nonce, :value => params[:token] %>
  <%= f.hidden_field :url_email, :value => params[:email] %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
