<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Marketing</th>
      <th>Articles</th>
      <th>Digest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.marketing %></td>
        <td><%= user.articles %></td>
        <td><%= user.digest %></td>
        <td><%= button_to 'Create Token', create_token_user_path(user)%></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nonce</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
        <% user.tokens.each do |token| %>
        <tr>
          <td><%= token.user_id %></td>
          <td><%= token.nonce %></td>
          <td><%= link_to 'Edit', edit_user_path(user, email: user.email, token: token.nonce) %></td>
          <td><%= button_to 'Consume Token', consume_token_path(token) %></td>
        </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
