<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Marketing:</strong>
  <%= @user.marketing %>
</p>

<p>
  <strong>Articles:</strong>
  <%= @user.articles %>
</p>

<p>
  <strong>Digest:</strong>
  <%= @user.digest %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
